
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    width: 70%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.navimg{
    width: 2rem;
    height: 2rem;
}

.ul-items{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}
.ul-items a{
    text-decoration: none;
    color: black;
}
.dark-grey{
    color: #8987A1;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.text h2{
    font-size: 3.5rem;
    line-height: 1.5;
}
.text p{
    color: rgba(0, 0, 0, 0.5);
}
.ourplants {
text-align: center;
}

.ourplants h3 {
    font-size: 2rem;
}
.card{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cart-container h5{
    
font-size: 1.20rem;

}

.btn{
    padding: 12px 90px;
    background-color: #E95A08;
    border: none;
    color: white;
    margin-top: 5px;
}

.cart-container{
    margin-top: 1.5rem;
    text-align: center;
    
}








@media screen and  (max-width:576px) {
   .nav{
    width: auto;
    margin: auto;
   } 
.logo, .cart {
    flex-direction: column;
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
   
    
    
}
.hide{
    
    display: none;
}
body{
    width: auto;
}

.banner{
    flex-direction: column-reverse;
    /* gap: 5px; */
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.banner-img{
   width: 100%;
   background-size: contain;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 30%;
   
}
.cart-container{
    /* padding: 0 12px; */
}

}