
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.w{
    width: 90%;
    margin: auto;
}
body{
    border: 2px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
}
.navimg{
    width: 2rem;
    height: 2rem;
}


.ul-items{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}
.ul-items a{
    text-decoration: none;
    color: black;
}
.dark-grey{
    color: #8987A1;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.hide{
    color: #8987A1;
}
.text h2{
    font-size: 3.5rem;
    line-height: 1.5;
}
.text p{
    color: rgba(0, 0, 0, 0.5);
}
.ourplants {
text-align: center;
}

.ourplants h3 {
    font-size: 2rem;
}

.cart-container h5{
font-size: 1rem;
margin-top: 5px;
}
.cart-container p{
    font-size: 0.90rem;
}
.cart-container button{
    padding: 6px 10px;
    background-color: #E95A08;
    border: none;
    color: white;
  
    
    text-align: center;
   padding:12px 90px ;
    margin-top: 5px;
   
}
.btn-div{
    
    width: 100%;

}

.card{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}


.cart-container h5{
    text-align: center;
}
.cart-container p{
    text-align: center;
}



.maindiv{
    display: flex;
    justify-content: center;
    gap: 80px;
    
    
    
}
.flower-ul{
    margin-left:1.5rem;
}

/* .img-section img{
    height: 500px;
    
} */
.img-section{
    
    /* flex: 1; */
    width: auto;
    position: relative;
}
.flower-text{
    /* flex: 1; */
}
.img-tag{
    width: 450px;
    height: auto;
    
}


.trusted{
    position: absolute;
    width: 200px;
    /* right: 650px; */
    transform: translateY(-90px) translateX(-130px);
    
    
}

.main-photo{
    display: flex;
 gap: 10px;
 height: 100%;
}
.single{
    width: 70%;
    position: relative;
}
.single img{
    width: 100%;
    border-radius: 25px;
    filter: brightness(60%);
   
    
}
.first{
   
    height: 50%;
    position: relative;
    
    
}
.second{
    height: 50%;
    
}
.double{
    
    width: 30%;
}
.first img{width: 100% ;height: 95%;border-radius: 15px;filter: brightness(70%);}
.second img{width: 100% ;height: 95%;border-radius: 15px;filter: brightness(70%);}


.single-text{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    transform: translateY(-250px)translateX(250px);
  
    
}



.double-first-text{
    position: absolute;
    text-align: center;
   
    transform: translateY(-130px) translateX(100px);

}


.double-second-text{
    position: absolute;
    transform: translateY(-130px) translateX(100px);
    color: white;
    text-align: center;
}
/* responsive mobile view */

.brunch{
    background-image: url(./assets/news-letter-bg.png);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brunch-text h4{
    
    font-size: 2rem;
    color: white;
    padding-bottom: 5px;
    text-align: center;
    
}
.brunch-text input{
    padding: 8px 80px;
    border: none;
    outline: none;
}

.brunch button{
    padding: 8px 40px;
    border: none;
    background-color: #E95A08;
}



.footer{
    /* display: grid;
    grid-template-columns: repeat(3 , 1fr); */
   display: flex;
   align-items: first;
   justify-content: space-between;
 
}
.list{
   
    list-style: none;
 
}

.list li{
    padding-top: 15px;
    color: #6B7280;
}
.img-list img{
   
   margin-right: 20px;
   
}




@media screen and  (max-width:576px) {
   .nav{
    width: auto;
    margin: auto;
   } 


   .body{
    width: auto;
    margin: auto;
   }
.logo, .cart {
    flex-direction: column;
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
   
    
    
}
.hide{
    
    display: none;
}
body{
    width: auto;
}

.banner{
    flex-direction: column-reverse;
    /* gap: 5px; */
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.banner-img{
   width: 100%;
   background-size: contain;
}
.cart-container{
width: 50%;

}
.card{
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
}

.cart-container button{
    padding: 6px 10px;
    background-color: #E95A08;
    border: none;
    color: white;
  
  
    /* text-align: first; */
   
   
}

.cart-container h5{
    text-align: center;
}
.cart-container p{
    text-align: center;
}
.cart-container img{
    width: 100%;
}
.cart-container{
width: 100%;

}

.cart-container button{
    padding: 6px 50px;
    
   
   
}

.maindiv{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.img-tag{
    width: 100%;
   
}
.trusted{
    visibility: hidden;
}

.main-photo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.double{
    width: 100%;
}
.single{
    width: 100%;
}

.double img{
    width: 80%;
}
.single img{
    width: 80%;
}
.deals-text h4{
   font-size: 1rem;
}
.deals-text > p{
    font: 5px;
    text-align: center;
}



/* .main-photo{
    margin-left: 10px;
    margin-right: -90px;
} */



.single-text{
    font-size: 1rem;
    text-align: center;
    position: absolute;
    transform: translateY(-140px) translateX(100px);
}
.brunch{
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.brunch-text h4{
    font-size: 1.5rem;
}


.brunch button{
   margin-top: 10px;
    display: flex;
    justify-content: center;
    

    
}
.footer{
    flex-direction: column;
}
.img-list{
    margin-top: 10px;
}
}